@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #343333;
    font-family: 'Playfair Display', serif;
}

nav {
    position: relative;
    width: 170px;
    height: 80px;
    background: #050101;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
    overflow: hidden;
}

nav:before {
    
    content: "MENU";
    position: absolute;
    align-content:space-around;
    left: 50%;
    transform: translateX(-50%);
    background: #050101;
    color: #d08989;
    font-size: 30px;
    font-weight: 800;
    z-index: 11;
    transition: all 0.2s;
}

nav ul {
    display: flex;
    line-height: 80px;
    list-style: none;
    align-content: center;
    justify-content: center;
}

ul li a {
    color: #d08989;
    font-size: 24px;
    text-decoration: none;
    margin: 0 -50px;
    border-radius: 15px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

li a.active,
li a:hover {
    background: #ad0c0c;

}

nav._expand {
    width: 730px;
}

nav._expand:before {
    opacity: 0;
    pointer-events: none;

}

nav._expand ul li a {
    margin: 0 10px;
    padding: 10px 15px;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s;
}